body {
    background-color: #faf7ee;
}

.navbar {
    /* background-color: #e8f4ea; */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    position: fixed;
    width: 100vw;
    padding: 0 20vw;
    z-index: 99;
    top: 0;
}

.upload-container {
    background-color: white;
    border: 1px #4a4a4a solid;
    border-radius: 20px;
    padding: 30px;
}

#display-image {
    margin-top: 10px;
    background-color: white;
    border: 1px #4a4a4a solid;
    border-radius: 20px;
    padding: 10px 30px;
}

.help-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-color: #4a4a4a;
    color: #4a4a4a;
    z-index: 99;
}

.help-btn svg {
    position: absolute;
    top: 6px;
    left: 6px;
}

.nav-item svg {
    width: 30px;
    height: 30px;
}

.sidebar {
    border: 1px solid #4a4a4a;
    margin-top: 30px;
    border-radius: 10px;
    border-width: 1px;
    background-color: #fcfcfc;
}

.recipe {
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    background-color: #fcfcfc;
    border-width: 1px;
}

.recipe-image {
    border-right: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.recipe-image img {
    max-width: 120%;
    max-height: 120%;
    flex-shrink: 0;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky !important;
    top: 80px;
    height: 300px;
}

.nav-side-menu {
    list-style-type: none;
}

.nav-side-menu li {
    padding: 10px 0;
    text-align: center;
    margin-left: -24px;
    cursor: pointer;
    transition: .2s all ease-in-out;
    white-space: nowrap;
}

.nav-side-menu li:hover {
    color: #287c40;
}

.recipe {
    margin: 12px 0;
}

.recipe h3 {
    color: #2c8746;
}

.logo-navbar {
    width: 80px;
}